* {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: purple;
    color: lime;
    text-align: center;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
}

a {
    font-size: 24px;
    color: orange;
}

.food-pic {
    height: auto;
    width: 400px;
   
}

.dough,
.toppings {
    color: red;
}

#list {
    color:blue;
}

#list #ya {
    color: orange;
    font-weight: 700;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.c {
    text-align: center;
}

.toppings.important {
    color: green;
}

.ins {
    color:blueviolet;
}

#st {
    color:blueviolet;
    font-size: 12px;
}

